{% extends "base.html" %}
{% comment %}
{% extends "registration/registration_base.html" %}
{% endcomment %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
			<br>
			<div class="panel panel-primary box-shadow--2dp">
				<div class="panel-heading">Successful!</div>
				<div class="panel-body">
					{% if request.user.is_authenticated %}
					<br>
					<p class="text-center">Password successfully changed!</p>
					<br>
					{% else %}
					<p>Welcome. Please <a href="{% url 'auth_login' %}">Login</a></p>
					{% endif %}
				</div>
				<div class="panel-footer clearfix">
					<div class="pull-right">
						{% buttons %}
						<a  class="btn btn-primary" href="{% url 'dashboard' %}">Home</a>
						{% endbuttons %}
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>
<br><br>
{% endblock %}


{# This is used by django.contrib.auth #}


