{% extends "base.html" %}
{% comment %}
	{% extends "registration/registration_base.html" %}
{% endcomment %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Registration is closed" %}{% endblock %}

{% block content %}


<fieldset>
					<div class="panel panel-primary">
						<div class="panel-heading">Attention!</div>
						<div class="panel-body">
							<div class="section-map-list">
								<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" > 
									<div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-10" >
										<p class="text-center"><h4>{% trans "Sorry, but registration is closed at this moment. Come back later." %}</h4></p>
									</div>
								</div> 
							</div>
						</div>
						<div class="panel-footer clearfix">
							<div class="pull-right">
								{% buttons %}
									<a  class="btn btn-primary" href="{% url 'dashboard' %}">
											Home
										</a>
									
								{% endbuttons %}
							</div>
						</div>
					</div>
				</fieldset>
<br>
<br>
<br>
{% endblock %}
