{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}

{% if request.user.is_authenticated %}

{% include "head_myinformation.html" %}

{% if perfil == 'none' %}
<div class="bs-example">
    <div class="alert alert-warning fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        You must create your basic data on <a href="{% url 'editprofile' %}"><strong>Basic Information</strong></a> first     
    </div>
</div>
{% endif %}

<div class=" col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-0 col-lg-offset-0 col-md-12 col-lg-12">
    {% include "submenu_profile.html" %}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>ACADEMIC INFORMATION</h4></div>    

        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    
                    <th>High School</th> 
                    <th>Graduation Year</th>
                    <!--th>Achievement</th-->
             
                </tr>
            </tbody>
            <tbody> 
                {% for acad_profile in acad_profile %}
                <tr>
                    <!--th scope="row">1</th-->
                    
                    <td>{{ acad_profile.school }}</td>
                    <td>{{ acad_profile.year_acad_graduation }}</td> 
                    <!--td>{{ acad_profile.logros }}</td-->
                    <td><a href="{% url 'delete_academic' acad_profile.id  %}"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a></td>
                    <td><a href="{% url 'alter_editprofile_academic' acad_profile.id  %}"><span class="glyphicon glyphicon-pencil text-danger" aria-hidden="true"></span></a></td>
                </tr> 

                {% endfor %}
            </tbody> 
        </table>
        <div class="panel-footer">
            <div class="pull-right">
                {% if perfil == 'none' %}
                <a href="{% url 'editprofile_academic' %}">
                    <button type="button" class=" btn btn-primary" disabled="disabled">+ Add</button>
                </a>
                {% else %}
                <a href="{% url 'editprofile_academic' %}">
                    <button type="button" class=" btn btn-primary">+ Add</button>
                </a>
                {% endif %}
            </div>
                <br><br>
        </div>
    </div>
    <br>
    

 <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>AWARDS</h4></div>
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>

                    <th>Year</th> 
                    <th>Awards</th>
              
                    <th>Descriptions</th>
        
                </tr>
            </tbody>
            <tbody> 
                {% for awards in awards %}
                <tr>
                    <!--th scope="row">1</th-->

                    <td>{{ awards.year }}</td>
                    <td>{{ awards.awards }}</td> 
                    <td>{{ awards.descriptions }}</td> 
                    <!--td>{{ acad_profile.logros }}</td-->
                    <td><a href="{% url 'delete_awards' awards.id  %}"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a></td>
                    <td><a href="{% url 'alter_editawards' awards.id  %}"><span class="glyphicon glyphicon-pencil text-danger" aria-hidden="true"></span></a></td>
                </tr> 

                {% endfor %}
            </tbody> 
        </table>



        
        <div class="panel-footer">
            <div class="pull-right">
                {% if perfil == 'none' %}
                <a href="{% url 'awards' %}">
                    <button type="button" class=" btn btn-primary" disabled="disabled">+ Add</button>
                </a>
                {% else %}
                <a href="{% url 'awards' %}">
                    <button type="button" class=" btn btn-primary">+ Add</button>
                </a>
                {% endif %}
            </div>
            <br><br>

        </div>
    </div>














 <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>ACHIVEMENT</h4></div>
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>

                    <th>Year</th> 

                    <th>Descriptions</th>
               
                </tr>
            </tbody>
            <tbody> 
                {% for archivement in archivement %}
                <tr>
                    <!--th scope="row">1</th-->

                    <td>{{ archivement.year }}</td>
{% comment %}
                     <td>{{ archivement.archivement }}</td>   
{% endcomment %}
 
                    
                    <td>{{ archivement.descriptions }}</td> 
                    <!--td>{{ acad_profile.logros }}</td-->
                    <td><a href="{% url 'delete_archivement' archivement.id  %}"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></a></td>
                    <td><a href="{% url 'alter_editarchivement' archivement.id  %}"><span class="glyphicon glyphicon-pencil text-danger" aria-hidden="true"></span></a></td>
                </tr> 

                {% endfor %}
            </tbody> 
        </table>



        
        <div class="panel-footer">
            <div class="pull-right">
                {% if perfil == 'none' %}
                <a href="{% url 'archivement' %}">
                    <button type="button" class=" btn btn-primary" disabled="disabled">+ Add</button>
                </a>
                {% else %}
                <a href="{% url 'archivement' %}">
                    <button type="button" class=" btn btn-primary">+ Add</button>
                </a>
                {% endif %}
            </div>
            <br><br>

        </div>
    </div>



















    <br><br><br><br><br><br>
</div>

{% endif %}
{% endblock%}

{% block scripts %}
<script> $('#save_profile').on('click', function () {
    var $btn = $(this).button('loading') 
    $btn.button('reset') }) 
</script>
{% endblock %}
