{% load staticfiles %}

  <footer data-spy="affix-bottom" data-offset-bottom="0">
		<div class="c col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background: #616161;" >
        <div class="row">
            <div class="col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12 col-md-10 col-lg-10"  >
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="background:">
                    <div class="margen">
                     <h4 class="letraB">CONTACT</h4>
                      </div>
                     </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background:">
                     <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11" style="background:">
                           <h5 class="letrac">MAIL</h5>
                            <span class="letraB">info@iscoutyou.com</span>
                        </div>
                    
                    </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background:">
                     <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11" style="background:">
                           <h5 class="letrac">LOCATION</h5>
                            <span class="letraB">Arizona, United States</span>
                        </div>
                    
                    </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background:">
                     <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11" style="background:">
                            <h5 class="letrac">PHONE NUMBER</h5>
                            <span class="letraB">888-240-0333</span>
                        </div>
                    
                    </div>
                
                
                </div>
            


            <div class="col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12 col-md-10 col-lg-10">
           
            <hr>

                <div class="col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="margen">
                     <h5 class="letraB">DESIGN / <a href="http://www.wildsolutions.com.ve/" target="_blank">WILD SOLUTIONS</a></h5>
                      </div>

                    
                </div>
                <div class="col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="margen">
                      <h5 class="letraB">COPYRIGHT © 2016 ISCOUTYOU RECRUITMENT NETWORK</h5>
                      </div>
                    
                </div> 
                <div class="col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="margen">
                    <!--i class="fa fa-arrow-circle-o-up"></i-->
                      </div>
                    
                </div> 
            </div> 
            </div>      
        </div>    

	</footer>
  