{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
		
	{% if request.user.is_authenticated %}
		
<!--<h3>Academy Info</h3><br>-->
		{% bootstrap_messages %}


<div class="row">
	<form method="post" action="" class="" enctype="multipart/form-data">{% csrf_token %}
		<fieldset>
			{% include "head_myinformation.html" %}
			<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" >  
			{% include "submenu_profile.html" %} 
				<div class="panel panel-primary">
					<div class="panel-heading">Add information:</div>
					<div class="panel-body">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group"> 
								<div class="col-sm-6 col-md-6">
									{% bootstrap_field form.evaluations%}
								</div>
								<div class="form-group ">
                                    <div class="col-sm-4 col-md-">
                                    	
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                            	{% bootstrap_field form.result%}
                            </div>
                            <div class="col-sm-6 col-md-6">
                            	
                            </div>
                        </div>
                    </div>
                </div>
                {% buttons %}
				    <button type="submit" data-loading-text="saving..." id="save_profile" class="btn btn-primary btn-lg btn-block">Save</button>
				{% endbuttons %}
			</div>
		</fieldset>
    </form>
 <hr>


    </div>





	{% endif %}
{% endblock%}

{% block scripts %}
    <script> $('#save_profile').on('click', function () {
     var $btn = $(this).button('loading') 
        $btn.button('reset') }) 
    </script>
{% endblock %}
