<div class="row">
	<div class="col-xs-offset-0 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-3">
		<h4 class="tittle">My Information:</h4> 
		<span>{{email}}</span> </div>

		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-4 col-md-5">
		<h4>Profile progress bar</h4>
			<div class="progress">
				<div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: {{p}}%;">
					{{p}}%
				</div>
			</div>

		</div>
	</div>
	<hr>